
#s_homepage {
    height: 100vh;
    width: 100%;
    background: #333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#s_homepage h1 {
    font-size: 5rem;
}
#s_homepage a {
    background: #1d94ba;
    padding: 15px;
}